
body {
	background-color: black;
	height: 100vh;
	align-items: center;
}
h1 
{
	color: white;
	font-family: Gill Sans;
	font-weight: bold;
	font-variant: small-caps;
	text-align: left;
}
h2
{
	color: white;
	font-family: Gill Sans;
	font-weight: bold;
	font-variant: small-caps;
}
h3
{
	color: white;
	font-family: Gill Sans;
	font-weight: bold;
	font-variant: small-caps;
}
p {
	color: white;
	font-family: Gill Sans;
	font-size: 1em;
}
@media (min-width: 768px){
	p{
		font-size: 1rem;
	}
}

nav{
	position: relative;
	z-index: 10;
}
nav ul {
	overflow: visible;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex; /* Display the list items in a row */
	background-color: #333;
}

nav li {
	overflow: visible;
	margin: 0; /* Optional: Reset margin for each list item */
}

nav a {
	overflow: visible;
	text-decoration: none;
	color: white;
	padding: 10px 20px; /* Add spacing around the links */
	transition: background-color 0.3s;
}

nav a:hover {
	background-color: #555;
}
li {
	color: black;
	font-family: Gill Sans;
	font-variant: small-caps;
	font-size: 18px;
	display:flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}
.dropdown-content {
	overflow: visible;
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 10em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

li:hover .dropdown-content {
	overflow: visible;
	display: block;
}

.dropdown-content a {
	overflow: visible;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	overflow: visible;
	background-color: #555;
	transform: translateY(20%);
}
.center {
	position: absolute;
	left: 50%;
	top: 50%;
	/*
    Nope =(
    margin-left: -25%;
    margin-top: -25%;
    */
	/* 
    Yep!
    */
	transform: translate(-50%, -50%);
	/*
    Not even necessary really. 
    e.g. Height could be left out!
    */
	width: 40%;
	height: 50%;
}

body div {
	margin: 0 auto;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Styling for hover-text image display*/

.app-screenshots {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5rem;
}

	.app-screenshots li {
		width: 30rem;
		margin: 2rem;
	}

.screenshot-container {
	position: relative;
	z-index: 1;
}

	.screenshot-container img {
		max-width: 100%;
		height: auto;
		transition: transform 0.3s ease-in-out; /* Smooth size change transition */
		z-index: 0;
		overflow: hidden;
	}

	.screenshot-container .description {
		position: absolute;
		bottom: 0; /* Place the description at the bottom */
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.92);
		color: #fff;
		padding: 10px;
		text-align: center;
		display: flex;
		opacity: 0;
		transition: transform 0.3s ease-in;
		transition: opacity 0.5s ease-in; /* Smooth opacity transition */
		overflow:hidden;
		/*center the text box over the image*/
	}
	.highlighted {}
	.screenshot-container .highlighted{
		z-index: 100;
	}
	.screenshot-container.highlighted img {
		/* Define styles for highlighted image */
		border: 10px solid #ffffff; /* Example: Add a border to highlight */
		/*box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);*/ /* Example: Add a shadow */
	}

.screenshot-container:hover img{
	transform: scale(1.1);
	
}
	.screenshot-container:hover .description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 1; /* Fade in */
		transform: scale(1.1);
		
	}
.sign {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	display: flex;
	text-align: left;
}